.error-header {
    background: rgb(255, 100, 100);
    color: rgb(231, 230, 231);
    font-family: CrimsonText, serif;
    font-size: 1.7em;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

summary {
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
}

details {
    background: rgb(54, 72, 110);
    color: rgb(231, 230, 231);
    font-family: Montserrat, sans-serif;
    padding: 1em;
    border-radius: 1em;
}
