.filter-box {
    background: rgb(54, 72, 110);
    color: rgb(231, 230, 231);
    font-family: Montserrat;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.filter {
    display: inline-block;
}
