.filter-box {
    background: rgb(54, 72, 110);
    color: #fff;
    font-family: Montserrat, sans-serif;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.filter {
    display: inline-block;
}
