.sort-button {
    width: 100%;
    background: rgb(104, 178, 99);
    color: #fff;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.sort-button:hover {
    background: green;
    cursor: pointer;
}
