@font-face {
    font-family: CrimsonText;
    src: url('./fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat-Regular.ttf');
}

body {
    width: 70%;
    background: rgb(231, 230, 231);
    margin-left: auto;
    margin-right: auto;
}

button {
    background: none;
    padding: 0;
    border: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
