.filter-tag {
    background: rgb(104, 178, 99);
    padding: 5px 10px;
    border-radius: 1em;
    margin: 2px;
}

.filter-tag:hover {
    background: green;
    color: rgb(231, 230, 231);
    cursor: pointer;
}

.active {
    background: rgb(231, 230, 231);
    color: rgb(104, 178, 99);
}
