.add-button {
    width: 100%;
    background: rgb(104, 178, 99);
    color: rgb(231, 230, 231);
    font-family: CrimsonText, serif;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 1em;
    margin: 1em 0;
}

.add-button:hover {
    background: green;
    cursor: pointer;
}
