.note-feed {
    background: rgb(54, 72, 110);
    color: #fff;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.note {
    background: rgb(104, 178, 99);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.note:last-child {
    margin-bottom: 0;
}

.note:hover {
    background: green;
    cursor: pointer;
}
